// Variables

$success: #28a745;
$danger: #dc3545;
$black: #000;
$white: #fff;
$primary-white: #f9f8f5;
$primary-black: #2d3748;
$primary-black3: #0c0f14;
$primary-black2: #525252;
$body-color: #718096;
$theme1: #171717;
$theme2: #61d98b;
